# Build / Output
target/
bin/
*.class

# Logs
logs/
*.log

# Reports
report.html
/reports/
# TestNG / Reports
test-output/
*.html
*.xml
logs/
reports/

 Eclipse / IntelliJ
project
classpath
settings/
idea/
.iml

 OS files
.DS_Store

# Sensitive config files
config/email.properties
config/config.json
.env
*.jks
keystore.jks
/bin/
src/test/resources/testdata/passport/modeldata.zip
src/test/resources/testdata/**/*.zip
